<nav class="flex items-center justify-between p-4">
  <!-- here goes logo -->
  <a routerLink="/" routerLinkActive="active">
    <img src="/assets/images/logo_horizontally.png" class="h-10" alt="" />
  </a>

  <!-- Sign in button -->

  <a routerLink="auth/signin" *ngIf="!authStatus.isSignedIn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1"
      stroke="currentColor"
      class="h-7 w-7"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
      />
    </svg>
  </a>

  <!-- Dropdown menu -->
  <div class="relative pt-1" *ngIf="authStatus.isSignedIn">
    <button class="h-full" (click)="toggleMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="currentColor"
        class="h-10 w-10"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
        />
      </svg>
    </button>
    <div
      *ngIf="isOpen"
      class="absolute right-0 flex flex-col items-end gap-2 rounded-lg bg-white p-4 shadow-lg"
    >
      <div class="w-max text-end text-sm">
        Logged in as,
        <span class="font-semibold uppercase tracking-wide text-indigo-500">{{
          authStatus.user.username
        }}</span>
      </div>
      <div class="h-[1px] w-full bg-slate-200"></div>
      <a routerLink="admin/dashboard" (click)="toggleMenu()">Dashboard</a>
      <!-- <a href="#">Setting</a> -->
      <button (click)="signOutHandler()">Logout</button>
    </div>
  </div>
</nav>
